{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login_page.css') }}">
{% endblock %}

{% block content %}
<div class="parent">
    <div class="substract">
        <span class="header header_font">PersonEnviroment</span>
        <p class="text text_font">Find out all about your friends</p>
        <button class="login_button" onclick="window.location.href='https://oauth.vk.com/authorize?display=popup&response_type=code&client_id={{ app_id }}&redirect_uri={{ service_url }}%2Flogin&scope=friends';">Sign In</button>
        {% if error %}
        <p class="error_font">{{ error }}</p>
        {% endif %}
</div>
</div>
{% endblock %}