body {
    background: url("../images/background.png") no-repeat fixed;
    background-size: cover;
}

.header_font {
    color: #fff;
    font: 500 48px/1 Helvetica,sans-serif;
}

.text_font {
    color: #fff;
    font-size: 20px Helvetica,sans-serif;
}

.bold {
    font-weight: bold;
}

.error_font {
    color: red;
    font-size: 30px Helvetica,sans-serif;
}

img {
    border-radius: 50%;
    display: inline-block;
    object-fit: cover;
    object-position: center;
}

.profile_image {
    width: 200px;
    height: 200px;
}

.user_info {
    position: absolute;
    display: inline-block;
    margin-left: 4em;
    margin-top: 1em;
    padding-top: 1.6em;
}

.header_block {
    height: 200px;
    width: 100%;
    margin: 1em;
}