
.background_image {
    /*background-color: red;*/
    background-image: url("../images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parent {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
}

.substract {
    padding: 1.5em;
    width: auto;
    height: auto;
    background-color:rgba(0,0,0,.5);
    border-radius: 25px;
}

.header {
    color: #fff;
    font: 500 48px/1 Helvetica,sans-serif;
    display: inline-block;
    padding-left: 15px;
}

.text{
    color: #fff;
    font-size: 20px Helvetica,sans-serif;
    padding: 10px 0 10px 15px!important;
}

.login_button {
    width: 100%;
    background-color: #fff;
    border: 2px solid #800080;
    font: 18px/44px Helvetica,sans-serif;
    color: #800080;
    padding: 0;
    text-align: center;
    border-radius: 25px;
    border: 2px solid #800080;
    box-sizing: border-box;
    box-shadow: 0 20px 40px rgba(0,0,0,.3);
}

.login_button:hover {
    background-color: #800080;
    color: #fff;
}
